// background: linear-gradient(135deg, $accent-clr2 25%, $accent-clr1);
// background-size: 200% 200%;
// background-position: 50% 100%;
// animation: gradient-movement 5s ease-in-out infinite;

// ^^^apply this to element which you want to use animation on^^^

@keyframes gradient-movement {
    0%,
    100% {
        background-position: 50% 100%;
    }
    25%,
    75% {
        background-position: 100% 100%;
    }
    50% {
        background-position: 100% 50%;
    }
}

@keyframes objects-flying {
    0%,
    100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
}
