$regular-background-clr: #141619;
$regular-text-clr: #fff;
$paragraph-text-clr: #e5e5e5;

$regular-gap: 30px;

$accent-clr1: #ffde59;
$accent-clr2: #31b8b1;

$regular-text-padding: 10px;
$regular-text-bg-border-radius: 1rem;

$large-fs: 76px;
$big-fs: 56px;
$medium-fs: 36px;
$regular-fs: 16px;
$small-fs: 12px;
