$regular-background-clr: #141619;
$regular-text-clr: #fff;
$paragraph-text-clr: #e5e5e5;

$regular-gap: 30px;

$accent-clr1: #e2af50;
$accent-clr2: #6056d1;

$gradient-clr1: #415572;

$cards-paragraph-clr: #999999;

$regular-text-padding: 10px;
$regular-text-bg-border-radius: 1rem;

$small-br: 4px;

$large-fs: 76px;
$big-fs: 56px;
$medium-fs: 36px;
$regular-fs: 20px;
$small-fs: 16px;
